@model IEnumerable<Aula1206.Models.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>@ViewBag.Title</h2>

@* Utilizando ViewBag
    @foreach (string cat in ViewBag.ListaCategorias)
    {
        //<p>@cat</p>
        //<a href="#">@cat</a>
        @Html.ActionLink(@cat, "Index", "Categoiras")
        @: |
    }
*@

@foreach (var cat in Model)
{
    <dl>
        <dt>@cat.Nome</dt>
        @if (!string.IsNullOrEmpty(cat.Descricao))
        {
            <dd>@cat.Descricao</dd>
        }else
        {
            <dd>
                <em>Sem Descrição</em>
            </dd>
        }
    </dl>
}
